html {
  font-family: $font-family-lato;
  font-weight: normal;
  color: $color-text;
  line-height: $line-height;
  font-size: 16px;
  
  // @media only screen and (min-width: $smallBreakpoint) {
  //   font-size: 15px;
  // }
  
  // @media only screen and (min-width: $largeBreakpoint) {
  //   font-size: $baseFontSize;
  // }  
}

// Header Styles
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-roboto;
  font-weight: bold;
  color: $color-heading;
  // margin: 0;

  a {
    font-weight: inherit;
  }
}
// p {
//   // margin-bottom: $pad;
// }

// Text Styles
em { font-style: italic; }
strong { font-weight: bold; }
.uppercase { text-transform: uppercase; } 